[Unit]
Description=Elastos Carrier Bootstrap Daemon
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/data/elastos/carrier
EnvironmentFile=/etc/elastos-carrier-bootstrap/params.env
ExecStart=/usr/local/bin/elastos-carrier-bootstrap-run.sh   \
            -f ${CONFIG_FILE}                               \
            -c start 

User=elauser
Group=elauser
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
Restart=always

[Install]
WantedBy=multi-user.target