[Unit]
Description=Elastos Mainchain Node Daemon
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/data/elastos/ela
EnvironmentFile=/etc/elastos-ela/params.env
ExecStart=/usr/local/bin/elastos-ela    \
            --conf ${CONFIG_FILE}       \
            -p ${KEYSTORE_PASSWORD}
            
User=elauser
Group=elauser
Restart=always

[Install]
WantedBy=multi-user.target