Package: elastos-did
Source: noderators
Version: 0.3.1-2
Architecture: amd64
Maintainer: Kiran Pachhai <kiran.pachhai@gmail.com>
Pre-Depends: adduser
Depends: libsystemd0
Homepage: http://www.elastos.org/
Description: Elastos DID Sidechain Node (daemon)
 Elastos DID Sidechain is used to connect to the elastos decentralized
 ID sidechain peer to peer network. This package contains the elastos 
 DID sidechain node daemon. Use this to connect to other peer nodes in 
 the network.
 