Package: ioex-mainchain
Source: noderators
Version: 0.2.1-1
Architecture: amd64
Maintainer: Kiran Pachhai <kiran.pachhai@gmail.com>
Pre-Depends: adduser
Depends: libsystemd0
Homepage: https://www.ioex.vip/
Description: Ioex Mainchain Node (daemon)
 ioeX is based on the distribution of smart device that create a distributed
 network which can improve data security and convey commerical value. The many
 smart devices form a decentralized distributed network through direct point-to-point
 connections so that smart devices can transfer files and data without going through 
 storage and transmission centers.
 