[Unit]
Description=Elastos Metrics Daemon
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/data/elastos/metrics
EnvironmentFile=/etc/elastos-metrics/params.env
ExecStart=/usr/local/bin/elastos-shell2http                                     \
            -port=${PORT}                                                       \
            -basic-auth="${AUTH_USER}:${AUTH_PASSWORD}"                         \
            -timeout=30                                                         \
            "/elastosmetrics"                                                   \
            "/usr/local/bin/elastos-prom2json http://localhost:9100/metrics |   \
                jq -c '[.[] |                                                   \
                select(                                                         \
                    (.name | contains(\"elastos\")) or                          \
                    (.name | contains(\"ioex\")) or                             \
                    (.name | contains(\"node_cpu\")) or                         \
                    (.name | contains(\"node_disk\")) or                        \
                    (.name | contains(\"node_filesystem\")) or                  \
                    (.name | contains(\"node_memory\")) or                      \
                    (.name | contains(\"node_systemd_unit_state\")) or          \
                    (.name | contains(\"node_uname_info\"))                     \
                )]'"
            
User=elauser
Group=elauser
Restart=always

[Install]
WantedBy=multi-user.target