[Unit]
Description=Elastos DID Sidechain Node Daemon
After=network-online.target

[Service]
Type=simple
StandardOutput=null
StandardError=null
WorkingDirectory=/data/elastos/did
ExecStart=/usr/local/bin/elastos-did

User=elauser
Group=elauser
Restart=always

[Install]
WantedBy=multi-user.target