Package: elastos-eth
Source: noderators
Version: 0.1.2-1
Architecture: amd64
Maintainer: Kiran Pachhai <kiran.pachhai@gmail.com>
Pre-Depends: adduser
Depends: libsystemd0
Homepage: http://www.elastos.org/
Description: Elastos Smart Contract Sidechain(ETH) Node (daemon)
 Elastos Smart Contract Sidechain(ETH) node is used to connect to 
 the elastos ethereum sidechain peer to peer network. This package 
 contains the elastos ethereum sidechain node daemon.
 Use this to connect to other peer nodes in the network.
 