[Unit]
Description=Elastos Arbiter Node Daemon
After=network-online.target elastos-ela.service elastos-did.service elastos-eth.service

[Service]
Type=simple
WorkingDirectory=/data/elastos/arbiter
ExecStart=/usr/local/bin/run-elastos-arbiter.sh

User=elauser
Group=elauser
Restart=always

[Install]
WantedBy=multi-user.target