Package: elastos-token
Source: noderators
Version: 0.1.2-3
Architecture: amd64
Maintainer: Kiran Pachhai <kiran.pachhai@gmail.com>
Pre-Depends: adduser
Depends: libsystemd0
Homepage: http://www.elastos.org/
Description: Elastos Token Sidechain Node (daemon)
 Elastos Token Sidechain is used to connect to the elastos
 Token sidechain peer to peer network. This package contains the elastos 
 Token sidechain node daemon. Use this to connect to other peer nodes in 
 the network.
 